.screen-size{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.close-trigger{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: none;
  cursor: pointer;
}
.center-container{
  width: 80vw;
  height: 78vh;
  background-color: red;
  position: absolute;
  overflow: scroll;
  border-radius: 10px;
  left: 10vw;
  top: 94px;
  display: none;
}
.info-container{
  font-size: 2em;
}
.info{
  position: absolute;
  text-align: center;
}
.title{
  width: 302px;
  left: 50%;
  top: 10px;
  margin-left: -151px;
}
.title-body{
  width: 80vw;
  height: 78vh;
  background-color: white;
  color: black;
  display: none;
}
.title-text{
  padding: 10vh;
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
}
.designers{
  width: 143.5px;
  left: 50%;
  top: 92vh;
  margin-left: -71.75px;
}
#seniorshow, #designers{
  cursor: pointer;
}
#seniorshow:hover, #designers:hover{
  text-decoration: underline;
}
.clicked{
  text-decoration: underline;
}
.designers-body{
  background-color: white;
  color: black;
  width: 80vw;
}
.designers-text{
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
  padding: 6vh;
}
.title-text{
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
}
.title-title{
  position: relative;
}

.title-center-close{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  cursor: pointer;
}
.designers-center-close{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  cursor: pointer;
}

.sidebar{
  vertical-align: top;
}
.sidebar-left{
  transform: rotate(180deg);
}
.sidebar-right{

}
.where{
  right: 10px;
  bottom: 0px;
  width: 40px;
  height: 100vh;
  writing-mode: vertical-rl;
}
.when{
  right: 10px;
  width: 40px;
  height: 100vh;
  writing-mode: vertical-rl;
}
.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/backgroundImage.svg');
}
.container2{
  top: 0;
  left: 0;
  background-image: url('../img/backgroundImage2.svg');
  z-index: 10;
  opacity: 0.5;
  pointer-events: none;
}
.profile-container{
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 7em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
  grid-gap: 0.4em;
}
.drawing{
  border-radius: 6px;
  cursor: grab;
  transition: 100ms all;
}
.drawing:active{
  cursor: grabbing;
}
