.screen-size{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body{
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.info-container{
  font-size: 2em;
}
.info{
  position: absolute;
  text-align: center;
}
.title{
  width: 80vw;
  left: 50%;
  top: 10px;
  margin-left: -40vw;
  transition: top 400ms;
}
.title-body{
  position: absolute;
  top: calc(-80vh - 10px);
  width: 80vw;
  height: 80vh;
  background-color: white;
  color: black;
  border-radius: 8px;
}
.title-on{
  top: 92vh;
}
.title-designers-on{
  top: -40px;
}
.title-text{
  padding: 6vh;
  margin-top: 20px;
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
}
.designers{
  width: 80vw;
  left: 50%;
  top: 92vh;
  margin-left: -40vw;
  transition: top 400ms;
}
.designers-on{
  top: 10px;
}
.designers-title-on{
  top: 104vh;
}
.designers-title, .title-title{
  cursor: pointer;
}
.designers-body{
  background-color: white;
  color: black;
  height: 100vh;
  overflow: scroll;
  padding: 6vh;
  margin-top: 20px;
  border-radius: 8px;
}
.designers-text{
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
}
.title-text{
  font-size: 20px;
  line-height: 1.4em;
  text-align: left;
}
.sidebar{
  vertical-align: top;
}
.sidebar-left{
  transform: rotate(180deg);
}
.sidebar-right{

}
.where{
  right: 10px;
  bottom: 0px;
  width: 40px;
  height: 100vh;
  writing-mode: vertical-rl;
}
.when{
  right: 10px;
  width: 40px;
  height: 100vh;
  writing-mode: vertical-rl;
}
.container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url('../img/backgroundImage.svg');
}
.container2{
  top: 0;
  left: 0;
  background-image: url('../img/backgroundImage2.svg');
  z-index: 10;
  opacity: 0.5;
  pointer-events: none;
}
.profile-container{
  padding: 1em;
  padding-top: 2em;
  padding-bottom: 7em;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: auto;
  grid-gap: 0.4em;
}
.profile-item{
  background-color: red;
  height: 250px;
}
.drawing{
  border-radius: 6px;
  cursor: grab;
  transition: 100ms all;
}
.drawing:active{
  cursor: grabbing;
}
